.App {
  text-align: center;
  background-image: linear-gradient(to bottom, lightpink, lightblue,lightyellow);
  height: 100vh;
  width: 100%;
}
.box{
  display: flex;
  justify-content: space-around;
  margin-top: 10%;

}

button{
  border: 2px solid black;
  border-radius: 10px;
  padding: 17px;
  background-color: rgb(33, 100, 112);
  margin-top: 2%;
}
 button:hover{
   background-color: aqua;
   cursor: pointer;
 }

 .left{
   float: left;
   margin-left: 20%;
 }
 .right{
   float: right;
   margin-right: 20%;
 }
 





